<head>
  <style> body { margin: 0; } </style>
  <script src="//unpkg.com/three"></script>
  <script src="//unpkg.com/three-spritetext"></script>
  <script src="//unpkg.com/3d-force-graph"></script>
</head>
<body>
  <div id="3d-graph"></div>
  <script>
    var messages = ["red", "blue", "white","blueviolet","gold", "orangered", "orange", "pink", "deeppink","green", "lime", "springgreen", "olive","maroon"];
   function getMessage() {
   	return messages[Math.floor(Math.random() * messages.length)];
}
    const Graph = ForceGraph3D()
      (document.getElementById('3d-graph'))
        .jsonUrl('./graph.json')
	       .onNodeClick(node => {
          // Aim at node from outside it
          const distance = 40;
          const distRatio = 1 + distance/Math.hypot(node.x, node.y, node.z);

          Graph.cameraPosition(
            { x: node.x * distRatio, y: node.y * distRatio, z: node.z * distRatio }, // new position
            node, // lookAt ({ x, y, z })
            3000  // ms transition duration
          );
        })
        .nodeThreeObject(node => {
          // use a sphere as a drag handle
          const obj = new THREE.Mesh(
            new THREE.SphereGeometry(5),
            new THREE.MeshBasicMaterial({ depthWrite: false, transparent: true, opacity: 0.1 })
          );

          // add text sprite as child
          const sprite = new SpriteText(node.id);
          sprite.color = getMessage();
          sprite.textHeight = 8;
          obj.add(sprite);

          return obj;
        });
 	Graph.cameraPosition(
            { x: node.x * distRatio, y: node.y * distRatio, z: node.z * distRatio }, // new position
            node, // lookAt ({ x, y, z })
            3000  // ms transition duration
          );

    // Spread nodes a little wider
    Graph.d3Force('charge').strength(-150);

  </script>
</body>
